/* initialisation de la page  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 0, 22);
}
/* design du formulaire  */
form{
    background-color: rgb(30, 5, 50);
    width: 90%;
    max-width: 450px;
    border: 2px solid rgb(110, 110, 110);
    padding: 40px;
    border-radius: 10px;
}
form h2{
    text-align: center;
    color: rgb(216, 161, 203);
    text-transform: uppercase;
    font-size: 1.5em;
}
.username{
    margin-top: 50px;
    margin-bottom: 30px;
}
input{
    width: 100%;
    font-size: 1.5em;
    padding: 20px;
    background-color: rgb(26, 1, 34);
    color: rgb(131, 116, 144);
    border: 1px solid rgb(131, 116, 144);
    border-radius: 15px;
}
.lien{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.lien a{
    color: #FFF;
    font-size: 1.5em;
}
.btn button{
    width: 100%;
    font-size: 1.5em;
    padding: 15px;
    background-color: rgb(129, 0, 127);
    color: #FFF;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    
}